export SCW_ACCESS_KEY="SCWC1BFZCDBH1ZGW5WR4"
export SCW_SECRET_KEY="91794e4e-1ceb-481e-b8f0-dc750b0ff18e"
export SCW_DEFAULT_PROJECT_ID="db28676e-35db-4caf-ad4e-91219b4e57de"
export AWS_ACCESS_KEY_ID=$SCW_ACCESS_KEY
export AWS_SECRET_ACCESS_KEY=$SCW_SECRET_KEY